.blog {
    
    article {
        margin:20px 0;
       
        a {
            color:@secondary;
       
            &.read-more {
                display: flex;
                border:4px dashed transparent;
                width: fit-content;
                &:focus {
                    border-color:@secondary;
                    outline:none;
                }
       
                svg {
                    fill:@secondary;
                    transition: margin-left 0.2s;
                }

                &:hover svg {
                    margin-left:3px;
                    transition: margin-left 0.2s;
                }
            }
           
        }

      
        .article-image-wrapper {
           
            a {
                line-height: 0;
           
                &:hover img {
                    opacity: 0.95;
                }
            }
        }

        .article-content-wrapper {
        
            .entry-header {
                margin-top: 10px;
            }

            .entry-title a:hover {
                text-decoration: none;
            }

            .entry-meta {
            
                time {
                    color: @gray;
                    margin-bottom: 5px;
                    display: block;
                }
            }
        }
        
    }
}


@media only screen and (min-width: @small) {

    .blog {

        article {
            display:flex;
        
            .article-image-wrapper, .article-content-wrapper {
                display: flex;
                flex-direction: column;
                flex-basis: 0;
                padding: 0;
            }
            
            .article-image-wrapper {
                flex-grow: 2;
                a {
                    height: 100%;
                
                    picture {
                    
                        display: flex;
                        justify-content: left;
                        position: relative;
                        height: 100%;
                        align-items: flex-start;
                        min-height:380px;
                    
                        img {
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            object-position: center;
                        }
                    }
                }
            }
            
            .article-content-wrapper {
                flex-grow: 1;
                padding:0 20px;
               
               
            }
           
            
        }
    }

}
