
.blog {
    
    article {
        margin:20px 0;
       
        a {
            color:@secondary;
       
            &.read-more {
                display: flex;
       
                svg {
                    fill:@secondary;
                    transition: margin-left 0.2s;
                }

                &:hover svg {
                    margin-left:3px;
                    transition: margin-left 0.2s;
                }
            }
       
            &:hover {
                text-decoration: none;
            }
        }
        .article-image-wrapper {
            a {
                line-height: 0;
                &:hover img {
                    opacity: 0.95;
                }
            }
        }

        .entry-meta {
            time {
                color: @gray;
                margin-bottom: 5px;
                display: block;
            }
        }
    }
}


@media only screen and (min-width: @small) {

    .blog {

        article {
            display:flex;
        
            .article-image-wrapper, .article-content-wrapper {
                display: flex;
                flex-direction: column;
                flex-basis: 0;
                padding: 0;
            }
            
            .article-image-wrapper {
                flex-grow: 2;
            }
            
            .article-content-wrapper {
                flex-grow: 1;
                padding:20px;
            }
           
            
        }
    }

}
