@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

h1, h2, h3 {
    margin:0;
}
h2 {
    font-size: 2.6em;
}

.main-navigation a {
    font-size: 1.28em;
}
