.container {
    max-width: @container;
    margin: auto;
    padding-left: @padding;
    padding-right: @padding;
    box-sizing: border-box;  
}

.flex {
    display: flex;
    justify-content: space-between;
}